{{extend 'base.html'}}

{{block central}}
<H1>Lista de Produtos</H1>



<div class="row">
  {{for produto in produtos:}}
  <div class="col-sm-6 col-md-4">
    
    <div class="thumbnail">
      
    
      <div class="caption" >
        <img src="{{=URL('default', 'download', args=produto.imagemdoproduto)}}" width="150px" height="150">
        <h3><a href="{{=URL('product_detail', args=produto.id)}}"> {{=produto.nome}}</a></h3>
        <p>{{=produto.valor}} </p>
        <p>{{=produto.categoria.nome_categoria}} </p>
        <p><a href="{{=URL('default', 'cart', args=produto.id)}}" class="btn btn-primary" role="button">Comprar Agora</a> 
        
      </div>
    </div>
    
  </div>
  {{pass}}
</div>

{{end}}